[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = tkMybatis PageHelper ??????
[access "refs/*"]
	owner = group user/ZuiSong (ZuiSong)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ZuiSong (ZuiSong)
	label-Verified = -1..+1 group user/ZuiSong (ZuiSong)
	push = group user/ZuiSong (ZuiSong)
	read = group user/ZuiSong (ZuiSong)
	rebase = group user/ZuiSong (ZuiSong)
	removeReviewer = group user/ZuiSong (ZuiSong)
	submit = group user/ZuiSong (ZuiSong)
[access "refs/heads/*"]
	create = group user/ZuiSong (ZuiSong)
	push = +force group user/ZuiSong (ZuiSong)
	pushMerge = group user/ZuiSong (ZuiSong)
	read = group user/ZuiSong (ZuiSong)
[access "refs/tags/*"]
	push = group user/ZuiSong (ZuiSong)
	push = +force group user/ZuiSong (ZuiSong)
